$bodyBackgroundColor: linear-gradient(#000 10%,#36157e 50%,#000 90%);
$sidebarBackgroundColor: rgba(31, 143, 235, 0);
$sidebarBorderColor: rgba(31, 143, 235, 0);

$onlineColor: #1ba100;
$offlineColor: #ff0000;
$contentBackgroundColor: rgba(14, 48, 39, 0.8);

$mainTextColor: #32DC59;
$alternativeTextColor: rgba(253, 254, 255, 1);
$optionalTextColor: #2b0c3a;
$blueTextColor: #32DC59;
$greenTextColor: #10a01c;
$orangeTextColor: #ff6f00;
$redTextColor: #ff0000;
$addressTextColor: #32DC59;
$placeholderTextColor: rgba(255, 255, 255, 0.2);

$blueButtonBackgroundColor: #206F5A;
$blueButtonBoxShadow: 0px 10px 40px rgba(96, 3, 158, 0);
$blueButtonHoverColor: #166E46;
$blueButtonHoverBoxShadow: 0px 10px 50px rgba(96, 3, 158, 0);
$blueButtonFocusColor: #166E46;
$blueButtonFocusBoxShadow: 0px 10px 20px rgba(96, 3, 158, 0);
$blueButtondisabledColor: #166E46, 0.5;

$resetButtonBackgroundColor: transparent;
$resetButtonColor: #32DC59;
$resetButtonHoverColor: #166E46;
$resetButtonFocusColor: #206F5A;
$resetButtonDisabledColor: rgba(253, 254, 255, 0.7);

$paginationButtonColor: rgba(253, 254, 255, 0.7);
$paginationButtonHoverColor: rgba(253, 254, 255, 0.4);

$inputBackgroundColor: transparent;
$selectDropdownBackgroundColor: #206F5A;

$selectHoverColor: rgba(72, 58, 85, 0.5);
$selectSelectedColor: rgba(57, 43, 68, 0.5);

$switchOnBackgroundColor: #178b00;
$switchOffBackgroundColor: rgba(255, 255, 255, 0.2);
$switchCirceleBoxShadow: 0px 2.11765px 5.64706px rgba(0, 0, 0, 0.15), 0px 2.11765px 0.705882px rgba(0, 0, 0, 0.06);

$accountBoxShadow: 0px 0px 15px 3px rgba(160, 7, 255, 0);
$accountDragBoxShadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
$accountBackgroundColor: rgba(125, 30, 233, 0.3);
$accountWatchOnlyBorderColor: #9a69f7;
$accountAuditableBorderColor: #ffffff;
$accountBackgroundColor: #001913;
$accountActiveBackgroundColor:  #206F5A;
$accountHoverBackgroundColor: #166E46;
$accountMainTextColor: #ffffff;

$seedPhraseFormBackgroundColor: rgba(31, 235, 204, 0.15);
$securedSeed: #e0e0e0;
$seedItemText: #e0e0e0;
$copyBackground: rgba(118, 30, 233, 0.6);
$copyBackgroundHover: rgba(118, 30, 233, 0.9);
$seedItemBackgroundColor: #29182a;
$accountOptionalTextColor: #675576;
$accountIndicatorTextColor: #280c3a;
$accountIndicatorBackgroundColor: #ffffff;

$tabInactiveBackgroundColor: rgba(143, 31, 235, 0);
$tabHoverBackgroundColor: rgba(143, 31, 235, 0);
$tableBackgroundColor: rgba(143, 31, 235, 0);
$messageMyBackgroundColor: #352a44;
$messageBuddyBackgroundColor: #24182a;
$progressBarBackgroundColor: rgba(143, 31, 235, 0);
$progressBarAccountColor: rgba(255, 255, 255, 0.2);
$progressBarAccountActiveColor: rgba(255, 255, 255, 0.2);
$progressBarFullBackgroundColor: #32DC59;
$chartOptionsBackgroundColor: #372b44;
$chartOptionsHoverColor: #625576;
$tooltipBackgroundColor: #206F5A;
$tooltipTextColor: #32DC59;
$tooltipImportantTextColor: #ff6f00;
$tooltipImportantBackgroundColor: #5f2b11;
$tooltipCriticalTextColor: #ff5252;
$tooltipCriticalBackgroundColor: #5f1d1d;
$tooltipShadow: 0 0 1rem rgba(0, 0, 0, 0.5);
$modalBackground: #206F5A;
$closeButtonColor: #6d5576;
$hoverPage: rgba(72, 58, 90, 0.247);

$aliasDropdownBackground: #166E46;
