.scrolled-content {

  &::-webkit-scrollbar {
    background-color: transparent;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #006321;
    background-clip: padding-box;
    border: 0.5rem solid transparent;
    border-radius: 1rem;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #006321;
  }
}
