app-sidebar {
  //background-color: #0B1D33;

  .settings-block {
    .settings-dropdown {
      background-color: $aliasDropdownBackground;
      button {
        span {
          color: #fff;
        }
      }
    }
  }

  .sidebar-accounts {
    
    .sidebar-accounts-list {
      
      .sidebar-account {
        margin-top: 10px;
        background-color: #0B1D33;
        color: $accountMainTextColor;
        box-shadow: -3px 3px 5px 0px rgb(253, 253, 253);
        border: 1px solid #32DC59;
        &.auditable {
          background-color: transparent;
          border-color: $accountAuditableBorderColor !important;
        }
        &.watch-only {
          background-color: transparent;
          border-color: $accountWatchOnlyBorderColor !important;
        }
        &.auditable,
        &.watch-only,
        &.tracking {
          border: 0.4rem solid;
          &.active {
            background: $accountActiveBackgroundColor;
          }
          &:hover:not(.active) {
            transition: all 0.25s ease;
            background-color: $accountHoverBackgroundColor;
          }
        }

        &.active {
          .sidebar-account-row {
            .progress-bar {
              background-color: $progressBarAccountActiveColor;
              .fill {
                background-color: $accountMainTextColor;
              }
            }
          }
        }

        .sidebar-account-row {
          .text {
            color: $accountMainTextColor;
          }

          .indicator {
            background-color: $mainTextColor;
            color: black;
          }

          .progress-bar {
            background-color: $progressBarAccountColor;
            .fill {
              background-color: $greenTextColor;
            }
          }

          &.account-price {
            .price {
              color: $tooltipTextColor;
            }
            .price-percent {
              color: #BEBEBE;
            }
          }
          &.account-synchronization {
            color: $accountMainTextColor;
          }
        }

        &.active {
          background: #232c33;
          box-shadow: -3px 3px 5px 0px rgb(249, 248, 250);
          .sidebar-account-row {
            &.account-synchronization {
              color: $accountMainTextColor;
            }
          }
        }

        &:hover:not(.active) {
          transition: all 0.25s ease;
          background-color: #232c33;
        }
      }
    }
  }

  .sidebar-settings {
    .wrap-button {
      button {
        color: #fff;
        :hover {
          color: $blueButtonHoverColor !important;
        }
      }

      &.active {
        button {
          color: $blueButtonFocusColor !important;
        }
      }
    }
  }
}
