[Desktop Entry]
Version=1.0
Name=EvoX
Exec=EvoX
Icon=/usr/share/pixmaps/desktop_linux_icon.png
MimeType=application/x-desktop
Terminal=true
Type=Application