[Desktop Entry]
Version=1.0
Name=Nirmata
GenericName=Nirmata
Comment=Privacy blockchain
Icon=Nirmata
Terminal=true
Type=Application
Categories=Qt;Utility;
Name[en_US]=Nirmata
MimeType=x-scheme-handler/nirmata;

